@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This blogging application was created by Drew Hans between August 2018 and May 2019 for the sole purpose of improving his full-stack development & unit testing skills. You can find the full source code on <a href="https://github.com/DrewHans555/Reblogged">GitHub</a>.</p>
