@model BlogIndexViewModel
@{
    ViewData["Title"] = "Blog";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    <a asp-area="" asp-controller="Blog" asp-action="AddPost">Add New Post</a>
    <a asp-area="" asp-controller="Blog" asp-action="ListPosts">View All Posts</a>
</p>
@if(Model.RecentPosts.Count ==0)
{
    <p>There are no recent posts available. You should make one! :)</p>
}
else
{
    <p>Recent posts:</p>
    @foreach(BlogPostDTOModel post in Model.RecentPosts)
    {
        <div class="row">
            <a asp-controller="Blog" asp-action="posts" asp-route-postid="@post.PostId">@post.PostTitle</a>
        </div>
    }
}
