@model BlogIndexViewModel
@{
    ViewData["Title"] = "Blog";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@if(Model.RecentPosts.Count ==0)
{
    <p>There are no recent posts available. You should make one! :)</p>
}
else
{
    <p>Recent posts:</p>
    @foreach(BlogPostDTOModel post in Model.RecentPosts)
    {
        <div class="row">
            @Html.ActionLink(
                "@post.PostTitle", 
                "GetPost", 
                "BlogController", 
                new { myParams = post.PostId }, 
                null
            )
        </div>
    }
}
